src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="GetCars" doc:id="e80a6f84-29cd-4992-a563-8e5b5f482dcf" >
		<ee:transform doc:name="Transform Message" doc:id="69152733-cfe9-4d41-a7e1-236ebba20f64" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="origin" ><![CDATA[attributes.queryParams.origin]]></ee:set-variable>
				<ee:set-variable variableName="destination" ><![CDATA[attributes.queryParams.destination]]></ee:set-variable>
				<ee:set-variable variableName="car" ><![CDATA[attributes.queryParams.carType]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<http:request method="GET" doc:name="Request" doc:id="ac7cc571-5318-462b-9f50-a6b8f42a3783" config-ref="HTTP_Request_configuration" url="http://car-booking-sys-api-lolkow.us-e2.cloudhub.io/cars"/>
		<choice doc:name="Choice" doc:id="e1473eef-8fcb-44fe-8847-4daa7ae93e9c" >
			<when expression="#[vars.origin != null and vars.destination != null]">
				<ee:transform doc:name="Transform Message" doc:id="b09fe29e-eae1-416b-8c99-313c698b8b1e" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ((item, index)->{
    "ID": item.carId,
    "Origin": item.origin,
    "Destination": item.destination,
    "Price": item.price,
    "Type": item.carType
}) filter ((item,index)-> item.Origin == vars.origin and item.Destination == vars.destination)
]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<when expression="#[vars.car != null]">
				<ee:transform doc:name="Transform Message" doc:id="9aa768b7-27d0-49ba-a467-a6dac3a58747" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ((item, index)->{
    "ID": item.carId,
    "Origin": item.origin,
    "Destination": item.destination,
    "Price": item.price,
    "Type": item.carType
}) filter ((item,index)-> item.Type == vars.car)
]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<when expression="#[vars.origin != null and vars.destination != null and vars.car != null]">
				<ee:transform doc:name="Transform Message" doc:id="e41b79c6-f6f3-4a98-aaf9-60875da73361" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ((item, index)->{
    "ID": item.carId,
    "Origin": item.origin,
    "Destination": item.destination,
    "Price": item.price,
    "Type": item.carType
}) filter ((item,index)-> item.Origin == vars.origin and item.Destination == vars.destination
	and item.Type == vars.car
)
]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise >
				<ee:transform doc:name="Transform Message" doc:id="c5798a89-f368-4f2f-858e-3c4f66e3c2ae">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map ((item, index)->{
    "ID": item.carId,
    "Origin": item.origin,
    "Destination": item.destination,
    "Price": item.price,
    "Type": item.carType
})]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			</otherwise>
		</choice>
	</flow>
	<flow name="postCars" doc:id="fd4ac471-9464-44b4-aadf-734de95714ce">
		<ee:transform doc:name="Transform Message" doc:id="91d43342-5513-4e31-8e93-313477650b0b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output text/plain
---
write(payload.carId, "application/json") as String ++ "," ++ 
write (payload.price, "application/json") as String ++ "," ++
write (payload.origin, "application/json") as String ++ "," ++
write (payload.destination, "application/json") as String ++ "," ++
write (payload.carType, "application/json") as String]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<http:request method="POST" doc:name="Request" doc:id="97bfd027-1cb0-47d8-9a2b-a460dec5381d" config-ref="HTTP_Request_configuration" url="http://car-booking-sys-api-lolkow.us-e2.cloudhub.io/cars" />
	</flow>
	<flow name="getCarsById" doc:id="a05ade8b-295d-4a27-a546-de03f0f300cf" >
		<http:request method="GET" doc:name="Request" doc:id="00d505d0-57e6-491a-88a8-c44ff46e41f8" url="http://car-booking-sys-api-lolkow.us-e2.cloudhub.io/cars/{carId}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"carId" : attributes.uriParams.carsId
}]]]></http:uri-params>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="5495eaa6-574b-4181-b16a-da23402bab09" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ((item, index)->{
    "ID": item.carId,
    "Origin": item.origin,
    "Destination": item.destination,
    "Price": item.price,
    "Type": item.carType
})]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="UpdateCarsById" doc:id="655224fa-286a-4f8b-9d56-171a594fd7b1" >
		<http:request method="PATCH" doc:name="Request" doc:id="a495d8ba-8ba4-4bc5-a6b7-d08f2a4b1218" url="http://car-booking-sys-api-lolkow.us-e2.cloudhub.io/cars/{carId}" >
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"carId" : attributes.uriParams.carsId
}]]]></http:uri-params>
		</http:request>
	</flow>
	<flow name="DeleteCarsById" doc:id="08cd5c34-cca1-47ef-8ced-dec35194465b" >
		<http:request method="DELETE" doc:name="Request" doc:id="98c190e1-626d-4945-8fdf-1657d04eb8a7" url="http://car-booking-sys-api-lolkow.us-e2.cloudhub.io/cars/{carId}" >
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"carId" : attributes.uriParams.carsId
}]]]></http:uri-params>
		</http:request>
	</flow>
	<flow name="getPartners" doc:id="5c910087-47b0-4d47-b34e-bbbf67ec8faa" >
		<ee:transform doc:name="Transform Message" doc:id="3b79125c-4700-4b10-869b-4fe88d62f047" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="name" ><![CDATA[attributes.queryParams.partnerName]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<http:request method="GET" doc:name="Request" doc:id="e669ac53-b5ab-4a4b-b823-170e25c0779b" config-ref="HTTP_Request_configuration" url="http://car-booking-sys-api-lolkow.us-e2.cloudhub.io/partners"/>
		<choice doc:name="Choice" doc:id="3d4ed746-f109-4423-b840-f646c051eb90" >
			<when expression="#[vars.name != null]">
				<ee:transform doc:name="Transform Message" doc:id="704373fd-e801-4c88-b6b3-026008f7d8f3" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ((item, index)->{
    "ID": item.partnerId,
    "Name": item.partnerName,
    "Number of Cars": item.numberOfCars
}) filter $.Name == vars.name
]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise >
				<ee:transform doc:name="Transform Message" doc:id="29075db0-899e-4d28-8923-41aaa8eb93e0">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map ((item, index)->{
    "ID": item.partnerId,
    "Name": item.partnerName,
    "Number of Cars": item.numberOfCars
}) 
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			</otherwise>
		</choice>
	</flow>
	<flow name="postPartners" doc:id="6cad98b6-f061-45de-a072-fc661384f0dc" >
		<ee:transform doc:name="Transform Message" doc:id="ef5813c8-515e-4116-b8d9-4c7a4235a21a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output text/plain
---
write(payload.partnerId, "application/json") as String ++ "," ++  
write(payload.partnerName, "application/json") as String ++ "," ++
write(payload.numberOfCars, "application/json") as String
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<http:request method="POST" doc:name="Request" doc:id="bad9b419-e0b0-4ec0-a665-53b7aa04c626" config-ref="HTTP_Request_configuration" url="http://car-booking-sys-api-lolkow.us-e2.cloudhub.io/partners" />
	</flow>
	<flow name="getPartnersById" doc:id="5d4044ed-9a07-41b6-bdb0-055fe3273d18" >
		<http:request method="GET" doc:name="Request" doc:id="5ffa1c48-8716-43ba-8714-6bcc2a2321cb" config-ref="HTTP_Request_configuration" url="http://car-booking-sys-api-lolkow.us-e2.cloudhub.io/partners/{partnerId}" >
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"partnerId" : attributes.uriParams.partnersId
}]]]></http:uri-params>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="0dec5fed-6676-4383-a2fa-bc1a8d8cc57d">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map ((item, index)->{
    "ID": item.partnerId,
    "Name": item.partnerName,
    "Number of Cars": item.numberOfCars
}) 
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="UpdatePartnersById" doc:id="f2d6e343-0662-4477-88e3-8c15b76c56dd" >
		<http:request method="PATCH" doc:name="Request" doc:id="a7c5fbf4-afcb-4dfb-8cf1-d65561162a1f" config-ref="HTTP_Request_configuration" url="http://car-booking-sys-api-lolkow.us-e2.cloudhub.io/partners/{partnerId}" >
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"partnerId" : attributes.uriParams.partnersId
}]]]></http:uri-params>
		</http:request>
	</flow>
	<flow name="DeltePartnersById" doc:id="8d29e306-d5aa-4f54-8f96-93fea0fc3773" >
		<http:request method="DELETE" doc:name="Request" doc:id="3a26af71-6f72-4ba8-a62b-097dcd903f34" config-ref="HTTP_Request_configuration" url="http://car-booking-sys-api-lolkow.us-e2.cloudhub.io/partners/{partnerId}" >
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"partnerId" : attributes.uriParams.partnersId
}]]]></http:uri-params>
		</http:request>
	</flow>
	<flow name="getBookings" doc:id="1dc51a4c-877c-4082-9086-52403a96d118" >
		<ee:transform doc:name="Transform Message" doc:id="390805c9-8906-4d78-85d4-26a3b597ba74" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="name" ><![CDATA[attributes.queryParams.passenger]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<http:request method="GET" doc:name="Request" doc:id="a2473c7a-d22c-41d8-8748-d66eda45c4e8" config-ref="HTTP_Request_configuration" url="http://car-booking-sys-api-lolkow.us-e2.cloudhub.io/booking"/>
		<choice doc:name="Choice" doc:id="0c68d3cc-99ae-4876-91c4-9218b7fbc839" >
			<when expression="#[vars.name != null]">
				<ee:transform doc:name="Transform Message" doc:id="6a4d34ab-e1a0-4f04-829c-d1f9c7381194" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ((item, index)->{
    "Booking ID": item.bookingId,
    "Name": item.passenger,
    "Car ID": item.carId
}) filter $.Name == vars.name

]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise >
				<ee:transform doc:name="Transform Message" doc:id="552ccf28-596a-462e-8a3e-bdaac2b0c7a7">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map ((item, index)->{
    "Booking ID": item.bookingId,
    "Name": item.passenger,
    "Car ID": item.carId
}) 

]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			</otherwise>
		</choice>
	</flow>
	<flow name="postBookings" doc:id="057762e5-2198-46da-a3e1-3d7e45a672ca" >
		<ee:transform doc:name="Transform Message" doc:id="a788c863-bff5-44a8-be1a-8b46ddc1fc76" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="id" ><![CDATA[{
	bookingId: payload.bookingId,
	passenger: payload.passenger,
	origin: payload.origin,
	destination: payload.destination
}
]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<http:request method="GET" doc:name="Request" doc:id="cd262f47-2274-4b40-a1ed-05c56e84b388" config-ref="HTTP_Request_configuration" url="http://car-booking-sys-api-lolkow.us-e2.cloudhub.io/cars" />
		<ee:transform doc:name="Transform Message" doc:id="d5899ad1-7df8-4a33-8092-15a34e2720db" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ((item, index)->{
    "carId": item.carId,
    "origin": item.origin,
    "destination": item.destination,
    "price": item.price,
    "carType": item.carType
}) filter ((item,index)-> item.origin == vars.id.origin and item.destination == vars.id.destination)
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="Transform Message" doc:id="6b074072-4411-492a-b883-b34ff1e4b86d" >
			<ee:message >
				<ee:set-payload ><![CDATA[{
	carId: payload[0].carId,
	bookingId: vars.id.bookingId,
	passenger: vars.id.passenger
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="Transform Message" doc:id="e18ceb4b-f56b-42bb-9b67-e5f4984337db" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output text/plain
---
write(payload.bookingId, "application/json") as String ++ "," ++  
write(payload.passenger, "application/json") as String ++ "," ++
write(payload.carId, "application/json") as String
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<http:request method="POST" doc:name="Request" doc:id="123f2c3d-f603-40b4-b5e2-be620d0fa7d8" config-ref="HTTP_Request_configuration" url="http://car-booking-sys-api-lolkow.us-e2.cloudhub.io/booking" />
	</flow>
	<flow name="getBookingsById" doc:id="6a0bf8d6-61f9-4170-bf35-4e1dae16619f" >
		<http:request method="GET" doc:name="Request" doc:id="506ad16b-137a-4f4b-99ee-10bacf5d5272" config-ref="HTTP_Request_configuration" url="http://car-booking-sys-api-lolkow.us-e2.cloudhub.io/booking/{bookingId}" >
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"bookingId" : attributes.uriParams.bookingId
}]]]></http:uri-params>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="7f4ab19f-9a18-4565-ae21-ec9e34ae3e32" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="id" ><![CDATA[%dw 2.0
output application/json
---
{
    "bookingId": payload.bookingId,
    "passenger": payload.passenger,
    "carId": payload.carId
}

]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<http:request method="GET" doc:name="Request" doc:id="81084705-ed48-4bb8-ad1b-50017b6535b7" url="http://car-booking-sys-api-lolkow.us-e2.cloudhub.io/cars/{carId}">
			<http:uri-params><![CDATA[#[output application/java
---
{
	"carId" : vars.id.carId[0]
}]]]></http:uri-params>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="817346a1-0bf0-41f1-a92b-047d63ab149d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
    "Booking ID": vars.id.bookingId[0],
    "Name": vars.id.passenger[0],
    "Booking Details": {
        "ID": payload[0].carId,
        "Origin": payload[0].origin,
        "Destination": payload[0].destination,
        "Price": payload[0].price,
        "Type": payload[0].carType
        }
        }

]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="updateBookingsById" doc:id="51a98f86-c47c-4ca0-a015-0888d1b6b580" >
		<http:request method="PATCH" doc:name="Request" doc:id="6778fed8-6aa3-4d7b-a305-451f9d2c73a1" config-ref="HTTP_Request_configuration" url="http://car-booking-sys-api-lolkow.us-e2.cloudhub.io/booking/{bookingId}" >
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"bookingId" : attributes.uriParams.bookingId
}]]]></http:uri-params>
		</http:request>
	</flow>
	<flow name="DeleteBookingsById" doc:id="19124e62-3dcd-4549-84a5-52f68850235b" >
		<http:request method="DELETE" doc:name="Request" doc:id="1044d6d5-830c-459f-8009-0fff4b86a8a9" config-ref="HTTP_Request_configuration" url="http://car-booking-sys-api-lolkow.us-e2.cloudhub.io/booking/{bookingId}" >
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"bookingId" : attributes.uriParams.bookingId
}]]]></http:uri-params>
		</http:request>
	</flow>
</mule>
