src/main/mule/interface.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <apikit:config name="car-booking-process-config" api="car-booking-process.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="car-booking-process-main">
        <http:listener path="/api/*" config-ref="HTTP_Listener_config">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="car-booking-process-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="car-booking-process-console">
        <http:listener path="/console/*" config-ref="HTTP_Listener_config">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="car-booking-process-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="delete:\booking\(bookingId):car-booking-process-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="bookingId">attributes.uriParams.'bookingId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  code: 404,
  reasonPhrase: "Not Found",
  details: "The requested resource is not found"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="delete:\car\(carsId):car-booking-process-config">
        <flow-ref doc:name="Flow Reference" doc:id="c5d365d0-29ec-4646-94c2-9f68b496177b" name="DeleteCarsById"/>
    </flow>
    <flow name="delete:\partner\(partnersId):car-booking-process-config">
        <flow-ref doc:name="Flow Reference" doc:id="5da04218-000e-44e1-a818-df03c47096f4" name="DeltePartnersById"/>
    </flow>
    <flow name="patch:\booking\(bookingId):application\json:car-booking-process-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="bookingId">attributes.uriParams.'bookingId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  code: 404,
  reasonPhrase: "Not Found",
  details: "The requested resource is not found"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="patch:\booking\(bookingId):application\xml:car-booking-process-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="bookingId">attributes.uriParams.'bookingId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  code: 404,
  reasonPhrase: "Not Found",
  details: "The requested resource is not found"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="patch:\car\(carsId):application\json:car-booking-process-config">
        <flow-ref doc:name="Flow Reference" doc:id="e45bd99b-ed23-406b-a889-5b7c0b785402" name="UpdateCarsById"/>
    </flow>
    <flow name="patch:\car\(carsId):application\xml:car-booking-process-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="carsId">attributes.uriParams.'carsId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  code: 404,
  reasonPhrase: "Not Found",
  details: "The requested resource is not found"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="patch:\partner\(partnersId):application\json:car-booking-process-config">
        <flow-ref doc:name="Flow Reference" doc:id="563b39ab-7a75-4620-b3b4-8d631da5699b" name="UpdatePartnersById"/>
    </flow>
    <flow name="patch:\partner\(partnersId):application\xml:car-booking-process-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="partnersId">attributes.uriParams.'partnersId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  code: 404,
  reasonPhrase: "Not Found",
  details: "The requested resource is not found"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\booking:car-booking-process-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  code: 404,
  reasonPhrase: "Not Found",
  details: "The requested resource is not found"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\booking\(bookingId):car-booking-process-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="bookingId">attributes.uriParams.'bookingId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  cardetails: {
    value: {
      carId: 1,
      price: 400.0,
      origin: "Ammapet",
      destination: "Sevvapet",
      carType: "SUV"
    }
  },
  bookingId: 123,
  passenger: "Kowshalya"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\car:car-booking-process-config">
        <flow-ref doc:name="Flow Reference" doc:id="269d6f3e-384f-490d-b133-fb97dee8c98a" name="GetCars"/>
    </flow>
    <flow name="get:\car\(carsId):car-booking-process-config">
        <flow-ref doc:name="Flow Reference" doc:id="993346e7-8929-4bd9-8635-afc097841031" name="getCarsById"/>
    </flow>
    <flow name="get:\partner:car-booking-process-config">
        <flow-ref doc:name="Flow Reference" doc:id="d38cc8ac-03d5-4f33-be20-9630c1448da1" name="getPartners"/>
    </flow>
    <flow name="get:\partner\(partnersId):car-booking-process-config">
        <flow-ref doc:name="Flow Reference" doc:id="8a8f60b5-af56-4292-8d83-431b0a1ed817" name="getPartnersById"/>
    </flow>
    <flow name="post:\booking:application\json:car-booking-process-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  code: 404,
  reasonPhrase: "Not Found",
  details: "The requested resource is not found"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\booking:application\xml:car-booking-process-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  code: 404,
  reasonPhrase: "Not Found",
  details: "The requested resource is not found"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\car:application\json:car-booking-process-config">
        <flow-ref doc:name="Flow Reference" doc:id="09cc87da-2807-40a0-a91f-b8f32a02723d" name="postCars"/>
    </flow>
    <flow name="post:\car:application\xml:car-booking-process-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  code: 404,
  reasonPhrase: "Not Found",
  details: "The requested resource is not found"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\partner:application\json:car-booking-process-config">
        <flow-ref doc:name="Flow Reference" doc:id="03bf8053-b08a-472d-83f2-9b4784de86af" name="postPartners"/>
    </flow>
    <flow name="post:\partner:application\xml:car-booking-process-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  code: 404,
  reasonPhrase: "Not Found",
  details: "The requested resource is not found"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
